development: &default
  adapter: sqlite3
  database: db/administrate-prototype_development.sqlite3
  encoding: utf8
  min_messages: warning
  pool: 2
  timeout: 5000

test:
  <<: *default
  database: db/administrate-prototype_test.sqlite3
